services:
  watchtower:
    container_name: watchtower
    image: containrrr/watchtower
    environment:
      - DOCKER_API_VERSION=${DOCKER_API_VERSION}
      - WATCHTOWER_CLEANUP=${WATCHTOWER_CLEANUP}
      - WATCHTOWER_SCHEDULE=${WATCHTOWER_SCHEDULE}
      - WATCHTOWER_LOG_LEVEL=${WATCHTOWER_LOG_LEVEL}
      - WATCHTOWER_LOG_FORMAT=${WATCHTOWER_LOG_FORMAT}
      - TZ=${TZ}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      - watchtower-network

networks:
  watchtower-network:
    name: watchtower-network

    external: false